<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Anonymous File Upload System for my friends.">
  <meta name="keywords" content="File Upload, tkvault">
  <meta name="author" content="tk.sh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="TkVault">
  <meta property="og:description" content="Anonymous File Upload System for my friends.">
  <meta property="og:image" content="https://media.tenor.com/7GzWtl6kvcgAAAAi/bocchi-the-rock.gif">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tk-vault.onrender.com" />
  <title>TkVault</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="icon" href="/favicon.ico">
</head>
<body>
  <div class="title">
    TkVault
    <div class="subtitle">
      File Upload System
    </div>
    <div class="title">
      <img src="https://media.tenor.com/7GzWtl6kvcgAAAAi/bocchi-the-rock.gif">
    </div>
  </div>
  <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Upload</button>
    <p>12 MB upload limit.</p>
  </form>

  <hr>

  <!-- List of uploaded files -->
  <div class="title">Uploaded Files</div>
  <ul id="fileList">
    <% function formatBytes(bytes, decimals = 2) {
      if (bytes === 0) return '0 Bytes';
    
      const k = 1024;
      const dm = decimals < 0 ? 0 : decimals;
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];
    
      const i = Math.floor(Math.log(bytes) / Math.log(k));
    
      return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    } %>

    <% files.forEach(file => { %>
      <li>
        <a href="/uploads/<%= file.fileName %>"><%= file.fileName %></a> (<%= formatBytes(file.fileSize) %>)
        <p>IP: <%= file.uploaderIP %></p>
        <p>Date: <%= new Date(file.uploadTime).toLocaleString() %></p>
        <button class="deleteButton" onclick="deleteFile('<%= file.fileName %>')">🗑 Delete</button>
      </li>
    <% }); %>
  </ul>

  <script>
    function deleteFile(fileName) {
      const password = prompt('Enter the password for this file:');
      if (password) {
        fetch(`/delete/${fileName}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ password: password })
        })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error);
          } else {
            alert(data.message);
            location.reload();
          }
        });
      }
    }

    document.getElementById('uploadForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Add this line

      const formData = new FormData(event.target);

      fetch('/upload', {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        alert('Your password is: ' + data.password);
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
  </script>

</body>
</html>
